DATABASE_URL=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_GUILD_ID=
DISCORD_API_BASE=

BLOB_READ_WRITE_TOKEN=

RESEND_API_KEY=
RESEND_FROM_EMAIL="Alquimia <hola@alquimia.community>"
RESEND_ADMIN_EMAIL=
RESEND_BASE_URL=

ADMIN_EMAILS=

BETTER_AUTH_API_KEY=
BETTER_AUTH_API_URL=
BETTER_AUTH_KV_URL=

NEXT_PUBLIC_SITE_URL=
